.container {
    background: var(--white);
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 3fr 2fr;
    grid-template-areas:
        'header header'
        'notes note'
        'notes note';
}

.headerArea {
    grid-area: header;
    border-bottom: 2px solid var(--gray);
}

.passwordsArea {
    grid-area: notes;
    border-right: 2px solid var(--gray);
}

.passwordArea {
    grid-area: note;
    overflow: auto;
}
