.container {
    height: 100vh;
    background: var(--proton-blue);
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 32px 16px;
    background: var(--white);
    border-radius: 4px;
    width: 560px;
    max-width: 60%;
}

.form > * {
    margin: 8px 0;
}
