.titleInput {
    all: inherit;
    border: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.descriptionTextArea {
    padding: 16px;
    flex-grow: 1;
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
    resize: none;
}

.cancel {
    margin-right: auto;
}

.delete {
    margin-left: 8px;
}

.urlList {
    margin-top: 16px;
    border-radius: 2px;
    border: 1px solid var(--gray);
}

.urlListItem {
    display: flex;
    justify-content: space-between;
}

.urlListItemEmpty {
    color: var(--gray);
    font-size: 0.8em;
}

.container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    border: 2px solid var(--gray);
    margin: 16px;
    overflow: hidden;
    /* minus 2x margin */
    height: calc(100% - 32px);
}

.title {
    margin: 0;
    padding: 16px;
    border-bottom: 1px solid var(--gray);
}

.content {
    padding: 16px;
    flex-grow: 1;
    overflow: auto;
}

.content > * {
    margin-bottom: 16px;
}

.controls {
    padding: 16px;
    border-top: 1px solid var(--gray);
    display: flex;
}
